manifest {
    description = 'prototype CRAC pipeline test 1'
    author = 'Connor Hudson'
    mainScript = 'ProtoNF_flexAlign.nf'

}


params{
//input variable
reads      = "/datastore/homes3/s1954394/project/data/150722_D00261_0251_AC7MRDANXX_4_sub100000.fastq"
barcodes   = "/datastore/homes3/s1954394/project/data/150722_D00261_0251_AC7MRDANXX_4.sanfastq.gz_barcodes.list"
novoindex  = "/datastore/homes3/s1954394/project/data/Saccharomyces_cerevisiae.EF4.74.dna.toplevel.shortChrNames_k10_s1.novoindex"
gtf        = "/datastore/homes3/s1954394/project/data/Saccharomyces_cerevisiae.EF4.74_SGDv64_CUTandSUT_withUTRs_noEstimates_antisense_intergenic_4xlncRNAs_final.pyCheckGTFfile.output.gtf"
genome     = "/datastore/homes3/s1954394/project/data/Saccharomyces_cerevisiae.EF4.74.dna.toplevel.shortChrNames.fa"

//aligner variable
aligner = 'novoalign'

}


